@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
/* @layer components {
  
} */
#main-section {
  background: #005aa7;
  background: -webkit-linear-gradient(to top, #fffde4, #005aa7);
  background: linear-gradient(to top, #fffde4, #005aa7);
}

#footer {
  background: #9a9a98b3;
}

#city-item {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2f81ed53,
    #56cbf253
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2f80ed53,
    #56ccf253
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#temp-graph {
  background: #1e9600; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ff6200d8,
    #fff200d8,
    #36af18d8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ff6200d8,
    #fff200d8,
    #36af18d8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#transition-transform {
  transition-property: transform, opacity;
}
